body
{
font-family:"Arial",arial,arial;
}

h1
{
color:black;
text-align:left;
font-size:20pt;
}

h2
{
color:black;
text-align:left;
font-size:18pt;
text-decoration:underline;
}

h3
{
color:0000BB;
text-align:left;
font-size:12pt;
}

#step
{
color:#BB0000;
font-size:12pt;
}

#help
{
background-color:#FFFFCC;
}
